<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Food App</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">
      <span class="material-icons-outlined">
        account_circle
      </span>
    </mat-icon>
    <button mat-button cdkFocusInitial color="accent" (click)="onLogout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid">
  <!--Insert Router-->
  <router-outlet></router-outlet>
</div>